.intro {
  display: flex;
  flex-direction: row;

  justify-content: center;  
  align-items: center;      
  width: 100%;
  height: 100%;
  gap: 3rem;
  font-family: var(--font-RobotoMono);
}


.intro-content{
  padding: 3rem;
  align-items: center;
  margin-bottom: 5rem;
  width: 35rem;

}
.intro-heading {
  display:block;
  margin: 0 0 1.5rem 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.intro-name {
  margin: 0 0 2.5rem 0;
  font-size: 5rem;
  font-weight: 800;
  display:block
}

.intro-body {
  margin: 0;
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 400;

}
.lightbulb{
  margin-right: 4rem;
}

/* --- GOALS SECTION  --- */
.goals-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f89a2a;
  overflow: hidden;
  box-sizing: border-box;
}

.goals-grid {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  align-items: center;
  height: 100%;
  column-gap: 4rem;
}

.goals-path {
  width: 100%;
  height: auto;
  justify-self: center;
  align-self: center;
  margin: 0rem 0.2rem 0 3.5rem;
}

/* CARD */
.goals-card {
  position: relative;
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 1.5rem;
  border: 0.2rem solid #000;
  box-shadow: 0.65rem 0.65rem 0 #000;
  box-sizing: border-box;
  font-family: var(--font-RobotoMono);
  height: auto;
  margin:3rem;
}

/* PIN ON CARD */
.goals-pin {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 4rem;
  height: auto;
  transform: rotate(10deg);
}

/* TITLE */
.goals-title {
  margin: 0 0 1.5rem 0;
  font-size: 3rem;
  font-weight: 700;
}

.goals-text {
  margin: 0;
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}


