html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* App wrapper */
.app-root {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-yellow); /* desktop yellow from :root */
}

/* Big name in the background */
.background-text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.background-text-line {
  font-family: var(--font-RobotoMono);
  font-size: 30rem;
  line-height: 0.85;
  font-weight: bold;
  color: #FFD97A;
  text-transform: uppercase;
}


/* Layer that centers the window */
.window-layer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
