.navbar {
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;

  padding:0.5rem 1.5rem ;

  background-color: #ffffff;       
  border: 0.25rem solid var(--color-black);
  border-radius: 999rem;
  box-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0); 
}

.navbar-button {
  width: 3.7rem;
  height: 3.7rem;

  border-radius: 100%;
  border: 0.2rem solid var(--color-black);

  background-color: var(--color-purple);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  outline: none;
  transition:
    transform 0.15s ease,
    background-color 0.15s ease,
    box-shadow 0.15s ease;

  box-shadow: 0 0.3rem 0 rgba(0, 0, 0, 0.3);
}

.navbar-button:hover {
  transform: translateY(-0.15rem);
}

.navbar-button-active {
  background-color: var(--color-pink);
  transform: translateY(-0.2rem);
}

.navbar-icon {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}
