:root {
  /* Brand Colors */
  --color-yellow: #ffcb46;
  --color-purple: #d661ff;
  --color-black: #000000;
  --color-pink: #ff81cc;
  --color-green: #31c86b;
  --color-cyan: #00c3e5;
  --color-orange: #ff9f32;
  --color-red: #ff4c4c;



}
