.window {
  width: 80rem;
  max-width: 90%;
  height: 50rem;

  background-color: #ffffff;             
  border: 0.25rem solid var(--color-black);
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0);
  
}


.window-topbar {
  height: 3rem;
  background-color: var(--color-cyan);
  border-bottom: 0.25rem solid var(--color-black);

  display: flex;
  align-items: center;
  padding-inline: 1.5rem;
  gap: 1.5rem;
}

.window-controls {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.window-dot {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 100%;
  border: 0.25rem solid var(--color-black);
}

.window-dot-close {
  background-color: var(--color-red);
}

.window-dot-maximize {
  background-color: var(--color-green);
}

.window-dot-minimize {
  background-color: #e5e7eb;      
}

/* Window title */
.window-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-black);
}

/* Window content */
.window-content {
  flex: 1;
  background-color: #ffffff;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}
/* scrollbar styling */
.window-content::-webkit-scrollbar {
  position: absolute;
  width: 1rem;
  background-color: transparent;
}

.window-content::-webkit-scrollbar-track {
  background: transparent;
}

.window-content::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 1rem;
  border: 0.25rem solid #ffffff;
}

.window-content::-webkit-scrollbar-thumb:hover {
  background: #333;
}

