
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: url("./cursor/cursor-default.png") 0 0, auto;
}

p,
h1,
textarea {
  cursor: url("./cursor/cursor-text.png") 25 10, text;
}

a,
button,
.navbar-button,
.interest-card {
  cursor: url("./cursor/cursor-pointer.png") 14 4, pointer;
}

/* window styling */

body {
  font-family: var(--font-RobotoMono);
}

.window-container {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-yellow); 
}

.background-text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.background-text-line {
  font-family: var(--font-RobotoMono);
  font-size: 30rem;
  line-height: 0.85;
  font-weight: bold;
  color: #FFD97A;
  text-transform: uppercase;
}


.window-layer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Window Element */
.window {
  width: 70vw;
  max-width: 95%;
  height: 85vh;

  background-color: #ffffff;             
  border: 0.25rem solid var(--color-black);
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0);
}


.window-topbar {
  height: 3rem;
  background-color: var(--color-cyan);
  border-bottom: 0.25rem solid var(--color-black);

  display: flex;
  align-items: center;
  padding-inline: 1.5rem;
  gap: 1.5rem;
}

.window-controls {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.window-dot {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 100%;
  border: 0.25rem solid var(--color-black);
}

.window-dot-close {
  background-color: var(--color-red);
}

.window-dot-maximize {
  background-color: var(--color-green);
}

.window-dot-minimize {
  background-color: #e5e7eb;      
}

/* Window title */
.window-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-black);
}

/* Window content */
.window-content {
  flex: 1;
  background-color: #ffffff;
  overflow-y: auto;
}
/* scrollbar styling */
.window-content::-webkit-scrollbar {
  position: absolute;
  width: 1rem;
  background-color: transparent;
}

.window-content::-webkit-scrollbar-track {
  background: transparent;
}

.window-content::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 1rem;
  border: 0.25rem solid #ffffff;
}

.window-content::-webkit-scrollbar-thumb:hover {
  background: #333;
}


@media (max-width: 80rem) {
  .window {
    width: 90vw;
    height: 85vh;
  }
}
@media (max-width: 22.5rem) {
  .window {
    width: 100vw;
    height: 100vh;
  }
}